---
import Layout from "@/layouts/Layout.astro";
---
<Layout>
  <section style="text-align: center; margin: 4rem 0;">
    <h1 style="font-size: 3rem; margin-bottom: 1rem;">404</h1>
    <p style="font-size: 1.25rem; margin-bottom: 2rem;">
      Sorry, the page you are looking for could not be found.
    </p>
    <a href="/" style="color: var(--accent, #0070f3); text-decoration: underline;">
      Go back home
    </a>
  </section>
</Layout>